.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
}
.review .item{
    width: auto;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
}
.form-container .item{
    width: 200px;
    margin-right: 20px;
    
}
.row{
    display: flex;
    align-content: stretch;
}
.col-sm-9{
    
    border-right: 1px solid gray;
}
.col-sm-9>p{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.col-sm-9>p>i{
    margin-left: 5px;
    margin-right: 5px;
}
select, textarea,input{
    color:black;
    border-radius: 5px; 
}
select,input{
    height: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.com-rat{
    display: inline;
    padding: 0 5px 0 5px;

    font-size: 14pt;
    font-weight: normal;

}
.com-rat>span{
    font-size: 12pt;
    font-weight: normal;
    margin-left: 3px;
}
button{
    width: 150px;
}
.comments{
    
    /* box-shadow: inset 0 0 10px black;
    border: 1px solid blue; */
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: center;

    flex-shrink: 1;

    
}
.comment{
    margin: 20px 0 20px 0;
    position: relative;
    
    border: 1px dashed rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    transition: 1s;
}
.comment-good{
    box-shadow: 0 0 10px green;
    border: 1px solid green !important;
}
.comment-bad{
    border: 1px solid red !important;
    box-shadow: 0 0 10px rgb(187, 8, 8);
}
.comment>span{
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
}
.review{
    z-index: 100;
    background-color: white;
    box-shadow: 0 0 10px black;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 50%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px; 

}
.review .btn{
    display: inline;
    margin-right: 8px;
}

.comment>.btn{
    background-color: white;
    width: auto;
    color:blue;

}
.comment>.btn:hover{
    text-decoration: underline;
}
.col-sm-3{
    font-weight: bold;
}
.report-comments .comment{
    border: 1px dashed black;
    margin-left: 10px;
    width: auto;
}
@media (max-width: 767px){
    .item, .form-container .item{
        width: 100%;
        margin-right: 0;
    }
    .report-comments .comment{
        border: 1px dashed black;
        margin-left: 10px;
        width: auto;
    }
    
}
@media (min-width: 768px){
    .com-rat>i.fa-thumbs-up:hover{
        color:green;
    }
    .com-rat>i.fa-thumbs-down:hover{
        color:red;
    }
}
.container{
    width: 100% !important;
    padding: 0;
    margin: 0;
}