
<div class="container">
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
      <div class="item">
        <span [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">Имя</span>
        <input formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" name="name" type="text" required>
        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
          <span class="d-block is-invalid" *ngIf="f.Name.errors.required">Укажите имя</span>
  
        </div>
      </div>
      <div class="item">
        <span [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">Телефон</span>
        <input formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" name="name" type="Email"  required>
        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
          <
        </div>
      </div>
      <div class="item">
          <span [ngClass]="{ 'is-invalid': submitted && f.Tel.errors }">Телефон</span>
          <input formControlName="Tel" [ngClass]="{ 'is-invalid': submitted && f.Tel.errors }" name="name" type="tel" pattern="[0-9]{11}" required>
          <div *ngIf="submitted && f.Tel.errors" class="invalid-feedback">
            <span class="d-block is-invalid" *ngIf="f.Tel.errors.required">Укажите телефон</span>
            <span class="d-block is-invalid" *ngIf="f.Tel.errors.pattern">Формат: 89161782323</span>
          </div>
        </div>
      <div class="item">
        <span [ngClass]="{ 'is-invalid': submitted && f.Place.errors }">Place</span>
        <select formControlName="Place" [ngClass]="{ 'is-invalid': submitted && f.Place.errors }" required>
          <option>Iraklion</option>
        </select>
        <div *ngIf="submitted && f.Place.errors">
          <span class="d-block is-invalid" *ngIf="f.Place.errors.required">PLACE_VALIDATION</span>
  
        </div>
  
      </div>
      <div class="item">
        <span [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">Тип игры</span>
        <input formControlName="Password" type="password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" required>
          
        <div *ngIf="submitted && f.Password.errors">
          <span class="d-block is-invalid" *ngIf="f.Password.errors.required">Укажите пароль</span>
  
        </div>
  
      </div>
      <div class="item">
        <span>MODEL</span>
        <input value="{{service.car.Model}}" readonly type="text">
      </div>
      <button class="btn btn-primary">Забронировать</button>
      
    </form>
    <div class="background-blur" (click)="hide()"></div>
  
  </div>
  
  
  