
<div *ngIf="service.car" class="container-fluid">
  <div *ngIf="!showBook" class="booking-container">
      <div class="form-container">
          <div class="car-info">
            <h1>{{service.car?service.car.Model:''}}</h1>
            <div class="row">
              <div class="col-sm-4">
                <div (click)="showCarInfo()" class="car-img">
                  <img src="{{service.car?service.car.Photo:''}}" alt="">
                  <div class="blur"></div>
                </div>
                
              </div>
              <div class="col-sm-7">
                <div class="bars">
                  <div class="pros">
                    <span>{{'CAR_LOOK' | translate}}</span>
                    <div class="progress-container">
                      
                        <div style="background-color: rgb(34, 174, 255)" class="progress" [ngStyle]="{'width':getProgress('Look', service.car)}" ></div>
                        <span class="bars-label"> {{Round(rating.Look/200*5)}}</span>
                    </div>
                  
                  </div>
                  <div class="pros">
                    <span>{{'CAR_COMFORT' | translate}}</span>
                    <div class="progress-container">
                        
                        <div style="background-color: rgb(34, 174, 255)" class="progress" [ngStyle]="{'width':getProgress('Comfort', service.car)}" ></div>
                        <span class="bars-label"> {{Round(rating.Comfort/200*5)}}</span>
                    </div>
                   
                  </div>
                  <div class="pros">
                    <span>{{'CAR_DRIVE' | translate}}</span>
                    <div class="progress-container">
                        <div style="background-color: rgb(34, 174, 255)" class="progress" [ngStyle]="{'width':getProgress('Drive', service.car)}" ></div>
                        <span class="bars-label"> {{Round(rating.Drive/200*5)}}</span>
                    </div>
                    
                  </div>
                  
                  
                  
                </div>
                
                <p>{{translate.currentLang=='ru'?(service.car?service.car.Description:''):service.car.Description_ENG}}</p>
                <div class="details">
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"PASSENGERS_S" | translate}}</span>
                    </div>
                    <i class="fa fa-male"></i>
                    <span>x {{service.car?service.car.Passengers:''}}</span>
                  </div>
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"DOORS" | translate}}</span>
                    </div>
                    <i class="fa fa-car"></i>
                    <span>x {{service.car?service.car.Doors:''}}</span>
                  </div>
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"TRANSMISSION" | translate}}</span>
                    </div>
                    <i class="fa fa-cogs"></i>
                    <span>{{service.car?(service.car.Transmission.toUpperCase() | translate):'' }}</span>
                  </div>
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"CONSUMPTION" | translate}}</span>
                    </div>
                    <i class="fa fa-tachometer"></i>
                    <span>{{service.car?service.car.Consumption:''}}{{"L"|translate}}/100{{"KM"|translate}}</span>
                  </div>
                  
                  <!-- <div class="detail-item">
                    <i class="fa fa-snowflake-o"></i>
                    <span>A/C</span>
                  </div> -->
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"FUEL" | translate}}</span>
                    </div>
                    <i class="fa fa-tint"></i>
                    <span>{{service.car?(service.car.Fuel.toUpperCase() | translate):'' }}</span>
                  </div>
                </div>
                <span>{{"PRICE" | translate}}: {{service.car?service.car.Price:''}}€</span> 
              </div>
            </div>
          </div>
          <!-- <div class="sep"></div> -->
          <form [formGroup]="bookingForm"  (ngSubmit)="onSubmit(DateStart, DateFinish)">
  
              <div class="row">
                <div class="col-sm-6">
                    <div class="item">
                      <span [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">{{'NAME'|translate}}</span>
                      <input formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" name="name" type="text" value="{{user?user.Name:''}}" required>
                      <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                        <span class="d-block is-invalid" *ngIf="f.Name.errors.required">{{'NAME_VALIDATION'|translate}}</span>
                
                      </div>
                    </div>
                    <div class="item">
                      <span [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">{{'EMAIL'|translate}}</span>
                      <input formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" value="{{user?user.Email:''}}" name="name" type="Email"  required>
                      <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                          <span class="d-block is-invalid" *ngIf="f.Email.errors.required">{{'EMAIL_VALIDATION'|translate}}</span>
                      </div>
                    </div>
                    <div *ngIf="!user" class="item">
                        <span [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">{{"PASSWORD" | translate}}</span>
                        <input formControlName="Password" type="password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" required>
                          
                        <div *ngIf="submitted && f.Password.errors">
                          <span class="d-block is-invalid" *ngIf="f.Password.errors.required">{{'PASSWORD_VALIDATION'|translate}}</span>
                  
                        </div>
                  
                      </div>
                    <div class="item">
                        <span [ngClass]="{ 'is-invalid': submitted && f.Tel.errors }">{{'PHONE'|translate}}</span>
                        <input formControlName="Tel" [ngClass]="{ 'is-invalid': submitted && f.Tel.errors }"  name="name" type="tel" pattern="[0-9]{11}" required>
                        <div *ngIf="submitted && f.Tel.errors" class="invalid-feedback">
                          
                          <span class="d-block is-invalid" *ngIf="f.Tel.errors.pattern">{{'FORMAT'|translate}}: 89161782323</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                  <div class="item">
                      <span [ngClass]="{ 'is-invalid': submitted && f.DateStart.errors }">{{'DATE_START'|translate}}</span>
                      <input formControlName="DateStart" [ngClass]="{ 'is-invalid': submitted && f.DateStart.errors }" type="date" #DateStart required>
                      <div *ngIf="submitted && f.DateStart.errors" class="invalid-feedback">
                          <span class="d-block is-invalid" *ngIf="f.DateStart.errors.required">{{'ENTER_DATE'|translate}}</span>
                          
                      </div>
                  </div>
                  <div class="item">
                      <span [ngClass]="{ 'is-invalid': submitted && f.DateFinish.errors }">{{'DATE_END'|translate}}</span>
                      <input formControlName="DateFinish" [ngClass]="{ 'is-invalid': submitted && f.DateFinish.errors }" type="date" #DateFinish required>
                      <div *ngIf="submitted && f.DateFinish.errors" class="invalid-feedback">
                          <span class="d-block is-invalid" *ngIf="f.DateFinish.errors.required">{{'ENTER_DATE'|translate}}</span>
                          
                      </div>
                  </div>
                  <div class="item">
                    <span [ngClass]="{ 'is-invalid': submitted && f.Place.errors }">{{'PLACE'|translate}}</span>
                    <select formControlName="Place" [ngClass]="{ 'is-invalid': submitted && f.Place.errors }" required>
                      <option selected value="Iraklion">{{'IRAKLION' | translate}}</option>
                    </select>
                    <div *ngIf="submitted && f.Place.errors">
                      <span class="d-block is-invalid" *ngIf="f.Place.errors.required">{{'PLACE_VALIDATION'|translate}}</span>
              
                    </div>
                
                  </div>
                    
                  <div class="item">
                    <span>{{'MODEL'|translate}}</span>
                    <input value="{{service.car?service.car.Model:''}}" readonly type="text">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="sales">
                  <div (click) = "chooseSale(sale)" [ngStyle]="{'box-shadow':sale.Checked?'0 0 20px green':''}" class="sale" *ngFor="let sale of sales">
                    <img src="{{service.car?service.car.Photo:''}}" alt="">
                    <span>{{sale.Discount}}%</span>
                    <i class="fa fa-check-square-o" [ngClass]="{'checked-sale':sale.Checked}" aria-hidden="true"></i>
                    <span *ngIf="sale.DaysNumber!=0" class="info">>{{sale.DaysNumber}} {{'DAYS'|translate}}</span>
                    <span>{{sale.NewPrice}}€/{{'DAY'|translate}}</span>
                  </div>
                </div>
                <div *ngIf="submitted && salesError">
                  <span class="d-block is-invalid" >{{'SALES_DAYS_VALIDATION'|translate}}</span>
          
                </div>
              </div>
              <div class="item ">
                  <span>{{'COMMENT'|translate}}</span>
                  <textarea formControlName="Comment"  cols="10" rows="5" #report></textarea>
                  
              </div>
              <button class="btn btn-primary">{{'BOOK'|translate}}</button>
              
            </form>
      </div>
    </div>
    <div *ngIf="showBook" class="result">
      <p>Ваш заказ сформирован, изменить и отменить его вы можете в <span class="ref">личном кабинете</span>.</p>
    </div>
</div>
<div class="reports-container">
  <feedback *ngIf="service.car?!!service.car.Reports:false" [reports]="service.car.Reports" [type]="'car'"></feedback>
</div>
  
<car-card *ngIf="service.showCarInfo" [service]="service"></car-card>
<alert  [alert] ="alert"></alert>
  
  
  