<div *ngIf="userService.currentUser" class="container-fluid">
  <div class="main-info">
    <div class="row">
      <div class="col-sm-4">
        <div class="d-flex flex-column justify-content-center">
          <div class="user-photo">
            <img class="img-rounded img-responsive" src="{{userService.currentUser?userService.currentUser.Photo:'../../assets/images/default_user_photo.jpg'}}" alt="">
            
            <div class="upload">
              <div>
                  <label for="uploadbtn" class="uploadButton">{{'UPLOAD_PHOTO' | translate}}</label>
                  <input style="opacity: 0; "  name="upload" id="uploadbtn" #file type="file"  (change)="upload(file.files)" />
              </div>
              
            </div>
            
          </div>
          
          <p style="text-align: center; font-size:18pt">{{userService.currentUser?userService.currentUser.Name:''}}</p>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <h1>{{'MAIN_INFO'|translate}}</h1>
        <div >
          <div class="item">
            <div class="row">
              <div class="col-sm-4">
                <span>{{'EMAIL' | translate}}: </span>
              </div>
              <div class="col-sm-6">
                <p>{{userService.currentUser?userService.currentUser.Email:''}}</p>
                <i (click)="showChangeInfo(0,true)"  class="fa fa-pencil"></i>
              </div>
            </div>
            <div *ngIf="changes[0]" class="change-panel">
                <div class="form">
                  <span>{{'EMAIL' | translate}}: </span>
                  <input [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" type="email" required #Email>
                  <button class="btn btn-success" (click)="changeInfo(0,'Email', Email.value)">Изменить</button>
                </div>
            </div>
            <div *ngIf="changes[0]"  class="background-blur" (click)="showChangeInfo(0,false)"></div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-4">
                <span>{{'PHONE' | translate}}: </span>
            </div>
            <div class="col-sm-6">
                <p>{{userService.currentUser?(userService.currentUser.Phone?userService.currentUser.Phone:('NO_DATA' | translate)):''}}</p>
                <i (click)="showChangeInfo(1,true)"  class="fa fa-pencil"></i>
            </div>
            <div *ngIf="changes[1]" class="change-panel">
              <div class="form">
                <span>{{'PHONE' | translate}}: </span>
                <input [ngClass]="{ 'is-invalid': submitted && f.Tel.errors }" type="tel" required #Tel>
                <button class="btn btn-success" (click)="changeInfo(1,'Phone', Tel.value)">Изменить</button>
              </div>
            </div>
            <div *ngIf="changes[1]"  class="background-blur" (click)="showChangeInfo(1,false)"></div>
          </div>
            
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-4">
                <span>{{'REG_DATE' | translate}}: </span>
              </div>
              <div class="col-sm-6">
                <p>{{userService.currentUser?(userService.currentUser.CreatedDate | date: 'dd.MM.yyyy'):''}}</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-4">
                <span>{{'LANG' | translate}}: </span>
              </div>
              <div class="col-sm-6">
                <p>{{userService.currentUser?(userService.currentUser.Lang?userService.currentUser.Lang:('NO_DATA' | translate)):''}}</p>
                <i (click)="showChangeInfo(2,true)"  class="fa fa-pencil"></i>
              </div>
            </div>
            <div *ngIf="changes[2]" class="change-panel">
                <div class="form">
                  <span>{{'LANG' | translate}}: </span>
                  <select [ngClass]="{ 'is-invalid': submitted && f.Lang.errors }"  required #Lang>
                    <option>{{'RU'| translate}}</option>
                    <option>{{'ENG'| translate}}</option>
                  </select>
                  <button class="btn btn-success" (click)="changeInfo(2,'Lang', Lang.value)">Изменить</button>
                </div>
            </div>
            <div *ngIf="changes[2]"  class="background-blur" (click)="showChangeInfo(2,false)"></div>
          </div>
        </div>
      </div>
     
    </div>
    <messager *ngIf="this.userService.currentUser.Topics" [userProfile]='true'  [topics]="this.userService.currentUser.Topics"></messager>
  </div>
  <div *ngIf="userService.currentUser?userService.currentUser.Books.length>0:false" class="statistics">
    <!-- <statistics *ngIf="userService.currentUser.Name=='Admin'"></statistics> -->
    <h3 >{{'MY_BOOKS' | translate}}</h3>
    <div class="book-item" [ngClass]="{'active-item':getStatus(book)=='Активно'}" *ngFor="let book of userService.currentUser.Books">
      <span class="status" [ngClass]="{'active':getStatus(book)=='Активно'}">{{getStatus(book)}}</span>
      <h4 style="margin-left: 5px">{{'ORDER' | translate}} №{{book.Id}}</h4>
      <div class="row">
        
        <div class="col-sm-4">
          <div class="car">
            <img src="{{book.Car.Photo}}" alt="">
            <div>
              <p><i class="fa fa-car"></i>{{book.Car.Model}}</p>
              <span><i class="fa fa-dollar"></i>{{book.Price}}€</span>
            </div>
          </div>
          
        </div>
        <div class="col-sm-2 dates">
          <i style ="font-size: 30px" class="fa fa-map-marker" aria-hidden="true"></i>
          <span>{{'PLACE' | translate}}: {{book.Place}}</span>
        </div>
        <div class="col-sm-3 dates">
          
          <span>{{'RENT' | translate}}: {{book.DateStart | date: 'dd.MM.yyyy'}} - {{book.DateFinish | date: 'dd.MM.yyyy'}}</span>
          
        </div>
        <div class="col-sm-3 dates">
          <span>{{'CREATE_DATE' | translate}}: {{book.CreateDate | date: 'dd.MM.yyyy'}}</span>
        </div>
           
        
      </div>
    </div>
  </div>
</div>

