/* You can add global styles to this file, and also import other style files */
.glyph-small{
    font-size: 6pt;
    color:rgb(173, 173, 173);
    margin-left: 3px;
    margin-bottom: 2px;
}
body{
    min-width: 330px;
}
.background-blur{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 50;
}
.is-invalid:not(span){
    border-color: rgb(255, 0, 0)
}

html{
    overflow-x: hidden;
}

span.is-invalid, p.is-invalid{
    color: red;
}
@media (max-width: 767px){
    html{
        overflow-x: hidden;
    }
}
