.container{
    z-index: 300;
    margin: 0;
    position: fixed;
    bottom: -283px;
    left:20px;
    width: 220px;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.747);
    padding: 10px;
    transition: 0.5s;
}
.InPage{
    
    position: relative;
    display: block;
    bottom: auto;
    left:auto;
    width: 100% !important;
    border: none !important;
    border-radius: 4px;
    box-shadow: none;
}
.blurProf{
    z-index: 305;
}
.messages{
    position: relative;
    max-height:600px;
    height: 85%;
    overflow-y: scroll;
    padding: 10px;
    display: inline-block;

}
.Profile{
    z-index: 310;
    position: absolute;
    display: block;
    
    bottom: auto;
    right: -520px;
    top: 0;
    height: 125%;
    left:auto;
    width: 500px !important;
    border: none !important;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.555);
    background-color: rgb(255, 255, 255);
}

.panel{
    border: none;
    display: flex;
    position: relative;
    height: 30px;

}
.panel i{
    position: absolute;
    right: 0;
    font-size: 18px;
    line-height: 26px;
    
    color:white;
    border-radius: 0 4px 4px 0;
    width: 30px;
    background-color: rgb(79, 119, 250);
    height: 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel i:hover{
    background-color: blue;
}
.Profile textarea{
    width: 100%;
    padding-right: 33px;
    border-radius: 4px; 
}
.InPage .header{
    background-color: transparent;
    color:black;
    text-align: start;
    display: block;
    padding-top: 20px;
}
.InPage .header h3, .InPage .header i{
    
    display: inline;
    font-size: 24px;
}
.Profile .header{
    width: auto;
    font-size: 30px;
    border-radius: 5px;
    position: absolute;
    left: -50px;
}
.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.item:first-child{
    margin-top: 10px;
}
h3{
    margin: 0;
    font-size: 17px;
    margin-left: 2px;
}
.header{
    opacity: 1;
    padding: 10px;
    text-align: center;
    margin: -10px -10px 0 -10px;
    background-color: rgb(69, 189, 69); 
    border-radius: 4px 4px 0 0;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    
}
.show{
    bottom: 20px;
    width: 300px;
}
.showP{
    right: 10px !important;
}

.no-message{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;

}
.message{
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}
.my-message .message-body{
    background-color: rgb(147, 255, 196);
}
.my-message{
    
    justify-content: flex-end !important;
}
.message-body{
    max-width: 60%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(164, 201, 250);
}
.message-body span{
    display: block;
    width: 100%;
    color: rgb(124, 124, 124);
    font-size: 10px; 
    text-align: end;
    
}


.hidden-header{
    opacity: 0 !important;
}
.header-small{
    display: none;
    
}
.background-blur{
    z-index: 290;
}
@media (max-width:768px){
    .header-small{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        opacity: 1;
        padding: 10px;
        z-index: 300;
        background-color: rgb(69, 189, 69); 
        font-size: 30px;
        color: white;
        cursor: pointer;
        
    }
    
    .Profile, .InPage, .container{
        display: none;
    }
    .container{
        width: 100%;
        margin: auto;
        left:auto;
    }
    
    .ProfileShow{
        position: fixed;
        display: block;
        height: 100%;
        width: 100% !important;
        right: 0 !important;

        border-radius: 0px;
        
    }
    .panel{
        margin-top: 10px;
        margin-bottom: 2px;
    }
    .messages{
        height: 100%;
    }
    
}
